aiofiles
aiogram
aiohappyeyeballs
aiohttp
aiosignal
altair
annotated-types
argon2-cffi
argon2-cffi-bindings
arrow
asttokens
async-lru
attrs
babel
bash
bash_kernel
beautifulsoup4
bleach
blinker
boltons
Brotli
cached-property
cachetools
certifi
cffi
charset-normalizer
click
colorama
comm
contourpy
curl_cffi
cycler
debugpy
decorator
defusedxml
distro
et_xmlfile
exceptiongroup
executing
fastjsonschema
filetype
fonttools
fqdn
frozendict
frozenlist
gitdb
GitPython
h11
h2
hpack
httpcore
httpx
hyperframe
idna
importlib_metadata
importlib_resources
ipykernel
ipython
ipython_pygments_lexers
ipywidgets
isoduration
jedi
Jinja2
joblib
json5
jsonpatch
jsonpointer
jsonschema
jsonschema-specifications
jupyter
jupyter-console
jupyter-events
jupyter-lsp
jupyter_client
jupyter_core
jupyter_server
jupyter_server_terminals
jupyterlab
jupyterlab_pygments
jupyterlab_server
jupyterlab_widgets
kernel
kiwisolver
magic-filter
MarkupSafe
matplotlib
matplotlib-inline
menuinst
mistune
multidict
multitasking
munkres
narwhals
nbclient
nbconvert
nbformat
nest_asyncio
notebook
notebook_shim
numpy
openpyxl
overrides
packaging
pandas
pandocfilters
parso
patsy
peewee
pexpect
pickleshare
pillow
pkgutil_resolve_name
platformdirs
pluggy
prometheus_client
prompt_toolkit
propcache
protobuf
psutil
ptyprocess
pure_eval
pyarrow
pycosat
pycparser
pydantic
pydantic_core
pydeck
Pygments
pyparsing
PySide6
PySocks
python-dateutil
python-json-logger
pytz
PyYAML
pyzmq
referencing
requests
rfc3339_validator
rfc3986-validator
rpds-py
ruamel.yaml
ruamel.yaml.clib
scikit-learn
scipy
seaborn
Send2Trash
setuptools
shiboken6
six
smmap
sniffio
soupsieve
stack_data
statsmodels
streamlit
tenacity
terminado
threadpoolctl
tinycss2
toml
tomli
tornado
tqdm
traitlets
truststore
types-python-dateutil
typing-inspection
typing_extensions
typing_utils
tzdata
unicodedata2
uri-template
urllib3
watchdog
wcwidth
webcolors
webencodings
websocket-client
websockets
wheel
widgetsnbextension
yarl
yfinance
zipp
zstandard
